.container{
    margin: 50px 0;
}

.card {
    margin: 0 2% !important
}

.infected {
    border-bottom: 10px solid #D51328
}

.recovered {
    border-bottom: 10px solid #1D6370
}

.death {
    border-bottom: 10px solid #330106
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
    
}